
<h2>History</h2>

<p>
  <%= link_to "Add New Run", :new_run_log, class: 'button' %>
</p>

<table>
  <tr>
    <th>Date</th>
    <th>Minutes</th>
  </tr>
<% @run_logs.each do |x| %>

  <tr>
    <td><%=x.created_at.to_date%></td>
    <td><%=x.time_ran%></td>
  </tr>

<% end %>

</table>
