
<p>
  <a class="button" href="#">Add New Run</a>
</p>

<table>
  <tr>
    <th>Date</th>
    <th>Minutes</th>
  </tr>
<% @run_logs.each do |x| %>

  <tr>
    <td><%=x.created_at.to_date%></td>
    <td><%=x.time_ran%></td>
  </tr>

<% end %>

</table>
