
<h2>Add New Run</h2>

<% if flash[:notice]  %>
  <p class="notice">
    Your run was succesfully posted!
  </p>
<% end %>

<% if flash[:alert] %>
  <p class="alert">
    Oh No!!! An error occured while trying to save your run!
  </p>
<% end %>

<p>
  <span class="info">Please enter how many minutes you ran today:</span>
  <br />
  <%= form_for @run_log do |f| %>
    <%= f.text_field :time_ran %>
    <%= f.submit "Save" %>
  <% end %>
</p>

