
<h2>Log Your Run</h2>

<p>
  <%= form_for @run_log do |f| %>
    <%= f.text_field :date_ran, class: "date", placeholder: "select a date" %>
    <br />
    <%= f.text_field :time_ran, placeholder: "enter minutes ran" %>
    <br />
    <%= f.submit "Save" %>
  <% end %>
</p>
