
<% if flash[:notice] %>
  <p class="notice">
    Success
  </p>
<% end %>

<% if flash[:alert] %>
  <p class="alert">
    Error! 
  </p>
<% end %>

<form method="post" action="/run_logs">

  <input name="time_ran" />
  <input type="submit" value="Save" />

</form>
