<h2>Running Schedule</h2>

<div class="running-schedule">
  <% Date::DAYNAMES.each{ |day| %>
    <div>
      <p><%=day%></p>
      <div>
        <%= render partial: "day_of_week", locals: {day_of_week: day } %>
      </div>
    </div>
  <% } %>
</div>

