<h2>Running Schedule</h2>


<table>
  <tr>

  <% Date::DAYNAMES.each{ |day| %>
    <th>
      <%= day %>
    </th>
  <% } %>
  
  </tr><tr>

  <% Date::DAYNAMES.each{ |day| %>
    <td>
      <%= render partial: "day_of_week", locals: {day_of_week: day } %>
    </td>
  <% } %>

  </tr>
</table>

