<h2>Running Schedule</h2>

<div class="running-schedule">
  <div><span>Monday</span><input src="/assets/not-running.jpg" type="image" /></div>
  <div><span>Tuesday</span><input src="/assets/yes-running.jpg" type="image" /></div>
  <div><span>Wednesday</span><input src="/assets/not-running.jpg" type="image" /></div>
  <div><span>Thursday</span><input src="/assets/yes-running.jpg" type="image" /></div>
  <div><span>Friday</span><input src="/assets/yes-running.jpg" type="image" /></div>
  <div><span>Saturday</span><input src="/assets/not-running.jpg" type="image" /></div>
  <div><span>Sunday</span><input src="/assets/yes-running.jpg" type="image" /></div>
</div>

<table>
  <tr>

  <% Date::DAYNAMES.each{ |day| %>
    <th>
      <%= day %>
    </th>
  <% } %>
  
  </tr><tr>

  <% Date::DAYNAMES.each{ |day| %>
    <td>
      <%= render partial: "day_of_week", locals: {day_of_week: day } %>
    </td>
  <% } %>

  </tr>
</table>

