<h2>Last 2 Weeks</h2>

<script type="text/javascript" charset="utf-8">
  $(function() {

    var data = <%=HTTParty.get(@logs_data_url)%>;

    var twoWeeksAgo = new Date();
    twoWeeksAgo.setDate( (new Date()).getDate() - 13 );
    var pointStart = Date.UTC(twoWeeksAgo.getUTCFullYear(), twoWeeksAgo.getUTCMonth(), twoWeeksAgo.getUTCDate());

    new Highcharts.Chart({
      chart: {
        renderTo: "elChart",
        marginLeft: 50,
        marginRight: 50
      },
      title: {
        text: null
      },
      xAxis: {
        type: "datetime",
        tickInterval: 24 * 3600 * 1000
      },
      yAxis: {
        min: 0,
        title: {
          text: "Minutes Ran"
        }
      },
      series: [{
        pointInterval: 24 * 3600 * 1000,
        pointStart: pointStart,
        data: data,
        name: null
      }],
      tooltip: {
				formatter: function() {
					var point = this.points[0];
					return '<b>'+ Highcharts.dateFormat('%A, %B %e, %Y', this.x) +'</b><br/>'+
						point.y +' minutes';
				},
				shared: true
			},
      legend: { enabled: false }
    });
  });
</script>

<div id="elChart" style="height: 500px;"></div>
