body
{
    background: #fff;
    color: #000;
    font-size: 13px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: verdana, arial, helvetica;
}

input[type=text], input[type=password] {
  text-align: center;
}

div.container {
  margin: 5px auto;
  padding: 10px;
  max-width: 900px;
  border: 1px solid #000000;
}

div.header {
  border-bottom: 1px solid #000000;

  h1 {
    margin: 0;
    padding: 0;
  }
}

div.welcome-text {
  text-align: right;
  padding: 3px;
}

div.main {
  padding: 20px 0;

  h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }
}


div.footer {
  border-top: 1px solid #000000;
  padding: 5px 0;
}

table {
  margin: 0 auto;
  border: 1px solid #000000;

  th {
    color: #ffffff;
    background-color: #000000;
    font-size: 14px;
  }

  tr:nth-child(2n+1) {
    background-color: #EEEEEE;
  }

  tr:nth-child(2n) {
    background-color: #DDDDDD;
  }

  th, td {
    padding: 4px;
  }

}



a.button {
  color: #FFFFFF;
  background-color: #000000;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #000000;
}

a:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.info {
  font-style: italic;
}

.notice {
  color: #007700;
  border: 1px solid #007700;
  padding: 15px;
  background-color: #DDFFDD;
}

.alert {
  color: #770000;
  border: 1px solid #770000;
  padding: 15px;
  background-color: #FFDDDD;
}


/* CLEARING
----------------------------------------------------------*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
/*----------------------------------------------------------*/
