div.header {
  padding-bottom: 5px;

  h1 {
    font-size: 24px;
  }

  a { 
    display: block;
    width: 80px;
    margin: 2px auto;
  }
}

div.running-schedule {
  width: 150px;
  margin: 10px auto 0;

  div {
    margin-bottom: 10px;
    border: 1px solid #000000;
    div {
      border: 0;
      padding-top: 15px;
    }
  }

  p {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 0;
    margin: 0;
  }

}

