div.header {
  padding-bottom: 20px;

  h1 {
    float: left;
    font-size: 36px;
  }

  a { 
    float: right;
    margin: 10px 20px 0 0;
  }
}

div.running-schedule {
  margin: auto 0;
  text-align:center;

  div {
    display: inline-block;
    border: 1px solid #000000;
    div {
      border: 0;
    }
  }

  p {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px 0;
    margin: 0;
    margin-bottom: 10px;
    width: 100px;
  }
}
