
<% if current_user %>
  <div class="welcome-text">
    Welcome, <%=current_user.user_name%>!
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert">
    <%= flash[:alert] %>
  </div>
<% end %>

